*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #eaeeee;;
}

section{
    justify-content: center;
    overflow-x: hidden;
    background: #eaeeee;
}
.container{
    width: 87%;
    padding-left: 30px;
}

/* ------nav----------- */

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 8%; 
}
nav .logo{
    width: 120px;
}

nav .header{
    display: flex;
    position: absolute;
    top: 30px;
    left: 70px;
    padding: 5px 10px; 
}

.header .login{
    margin-right: 30px;
    width: 191px;
    font-size: 20px;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 5px;
    border-radius: 20px;
    background: rgb(252, 202, 109); 
}

.header .login .btn1{
    margin-left: 20px;
    text-decoration: none;
    padding-right: 13px;
    color: black;
}
.header .login .btn2{
    text-decoration: none;
    background: orange;
    border-radius: 20px;
    padding:  5px 25px 16px;
    color: black;
}

.header .serch{
    background: #fff;
    align-items: center;
    padding: 13px;
    border-radius: 11px;
    color: gray;
}  

nav .li{
    text-align: center;
    margin-left: 200px;
}
nav ul{
    float: right;
    margin-right: 35px;
    margin-top: 35px;
    display: block;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 40px;
}

nav ul li a{
    text-decoration: none;
    font-weight: bold;
    color: rgb(65, 63, 63);
}
nav .li ul li .dora{
    border: 1px solid;
    padding: 13px;
    border-radius: 16px;
}
nav .li ul li .dora .fa{
    padding-left: 4px;
   }
   nav .li ul li .d .fa{
       padding-right: 4px;
   }
  /* -------nav end---------- */





  .blog-index-page{
      display: flex;
  }
  .blog-index-page .img {
   
      margin-right: 100px;
      border-radius: 20px;
      margin-top: 50px;
      height: 80%;
  }

  .baground{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 18;
    background: linear-gradient(0deg,rgba(29,45,61,.8) 25%,rgba(255,255,255,0) 70%);
    width: 55%;
    border-radius: 20px;
    height: 63%;
    margin-top: 138px;
    cursor: pointer;
    transition: 0.7s;
  }

  .img .baground:hover{
    background: linear-gradient(0deg,rgba(95, 109, 122, 0.8) 25%,rgba(89, 90, 94, 0.274) 70%);
  }

  .blog-index-page .img img{
      width: 700px;
      border-radius: 20px;
     object-position: 50% 0;
     position: relative;
  }


  .img .row-h3{
      position: absolute;
      margin-top: 300px;
      line-height: 30px;
      margin-right: 50px;
      color: rgb(255, 246, 246);
      transition: 0.5s;
  }
  .blog-index-page .text{
      width: 300px;
      margin-right: 50px;
  }
  .text .col-lg-12{
      margin-top: 50px;
      font-size: 20px;
      line-height: 30px;
  }
  .text .col-lg-12 h4{
      color: #1d2d3d;
      cursor: pointer;
  }
  .text .col-lg-12 h4:hover{
      color: rgb(18, 115, 194);
  }
  .text .col-lg-12 small{
      color: grey;
  }




  .search{
      margin-top: 100px;
      background: white;
      border-radius: 10px;
      font-size: 20px;
      color: grey;
      margin:  150px 90px 50px 90px;
      height: 80px;
      padding-top: 30px;
      padding-right: 30px;
  }


  .col-12{
      display: flex;
      margin: 80px;
      width: 100%;
  }

  .col-12 a{
      margin-bottom: 300px;
  }
  .col-12 .baground2{
      margin-top: -190px;
      width: 300px;
      height: 185px;
      border-radius: 20px;
      position: absolute;
      transition: 0. 5s;
  }
  .col-12 .baground2:hover{
    background: linear-gradient(0deg,rgba(95, 109, 122, 0.8) -25%,rgba(184, 184, 185, 0.274) -10%);

  }


  .col-12 .col-xl-12 .mge-box{
      width: 300px;
      cursor: pointer;
      position: relative;
  }
  .col-12 .col-xxl-3{
      margin-left: -250%;
      margin-top: -870%;
      float: left;
  }
  .col-xxl-3 ul li{
      list-style: none;
      line-height: 50px;
      color: grey;
  }


  .col-12 a .col-xl-7{
      width: 450px;
      margin-right: 350px;
      line-height: 45px;
      margin-top: -200px;
      position: absolute;
      color: grey;
  }

  .col-12 a .col-xl-7 h4{
      color:#040f24;
      cursor: pointer;
     margin: 5px 0;
     margin-bottom: 15px;
     font-size: 22px;
     transition: 0. 5s;
  }
  .col-12 a .col-xl-7 h4:hover{
      color: #165e99;
  }


  /* ------search end -------- */


button{
    margin-right: 450px;
    margin-top: 30px;
    padding:15px 20px;
    position: absolute;

    border-radius: 5px;
}
 button::after{
font-family: 'Font Awesome 5 Pro';
content: '\f078';
font-weight: 500;
font-size: 14px;
margin-right: 10px;
top: 2px;
position: relative;
}



/* ------ footer start------- */


footer{
    width: 100%;
    height: 100vh;
    margin-top: 250px;
    padding-left: auto;
    padding-right: auto;
    background-color: rgb(255, 246, 246);
    padding-right: 50px;
}

footer .links{
    float: right;
    width: 100%;
    margin: 0 0 60px 0;

}

footer .links a{
    text-decoration: none;
    font-size: 20px;
    padding-top: 0;
    margin: 0 10px;
    color: rgb(14, 30, 43);
    transition: 0.7s;
}
footer .links a:hover{
    color: #007bec;
}
footer .links a span{
    color: #1b2a33;
}
footer .links a span:hover{
     color: #007bec;
}


footer .bio{
    color: gray;
    line-height: 35px;
}

footer .bio a{
    text-decoration: none;
    color: #007bec;
}


footer .right p{
     margin-bottom: 50px;
     font-size:19px;
     
}
footer .right a{
    text-decoration: none;
    color: #0a1820;
}

footer .right span{
    font-size: 20px;
   font-weight: bold;
    font: bold;
    color: #0a1820;
    margin-left: 15px;
}
footer .right span a:hover{
    color: #007bec;
}
 

footer .right  div a{
  font-size: 35px;
  margin: 20px;
  transition: 0.7s;
}
footer .right  div a:hover{
    color: #007bec;
}


footer .left{
    display: flex;
    margin-top: 70px;
    float: left;
    padding-left: 30px;
    margin-bottom: 50px;
}

footer .left div{
    background-color: rgb(255, 255, 255);
    margin: 10px;
   
}
footer .left div img{
    width: 90px;
    padding: 20px;
    border-radius: 50px;
    background-color: #f3f3f5;
}
