*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    -webkit-text-size-adjust: 100%;
    max-width: 100vw;
    position: relative;
    text-decoration: rtl;
    overflow-x: hidden;
    background-image: linear-gradient(to top, rgb(252, 252, 252),rgba(247, 247, 247, 0.5)), url(../img/background.jpeg)  ;
    background-size: cover;
    color: var(--bs-dark);  
}

section{
    justify-content: center;
}

.container{
    width: 87%;
    padding-left: 30px;
}

/* ------nav----------- */

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 8%; 
}
nav .logo{
    width: 120px;
}

nav .header{
    display: flex;
    position: absolute;
    top: 30px;
    left: 70px;
    padding: 5px 10px; 
}

.header .login{
    margin-right: 30px;
    width: 191px;
    font-size: 20px;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 5px;
    border-radius: 20px;
    background: rgb(252, 202, 109); 
}

.header .login .btn1{
    margin-left: 20px;
    text-decoration: none;
    padding-right: 13px;
    color: black;
}
.header .login .btn2{
    text-decoration: none;
    background: orange;
    border-radius: 20px;
    padding:  5px 25px 16px;
    color: black;
}

.header .serch{
    background: #fff;
    align-items: center;
    padding: 13px;
    border-radius: 11px;
    color: gray;
}  

nav .li{
    text-align: center;
    margin-left: 200px;
}
nav ul{
    float: right;
    margin-right: 35px;
    margin-top: 35px;
    display: block;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 40px;
}

nav ul li a{
    text-decoration: none;
    font-weight: bold;
    color: rgb(65, 63, 63);
}
nav .li ul li .dora{
    border: 1px solid;
    padding: 13px;
    border-radius: 16px;
}
nav .li ul li .dora .fa{
    padding-left: 4px;
   }
   nav .li ul li .d .fa{
       padding-right: 4px;
   }

   .container .content h1{
    font-size: 50px;
    margin-top: 50px;
    margin-right: 70px;
   }
   .container .content .right p{
    position: absolute;
    right: 70px;
    top: 300px;
    font-size: 20px;
    color: gray;
    width: 500px;

   }
.icons{
    float: right;
    position: absolute;
    right: 90px;
    top: 500px;
    font-size: 30px;
}
.icons i{
    color: rgba(64, 114, 223, 0.959);
}
.icons #i{
    margin-right: 120px;
}
.icons .fa-users{
    margin-right: 120px;
}
.text{
    float: right;
    position: absolute;
    right: 20px;
    top: 530px;
}

.text li{
    padding: 20px 50px 20px 4px;
    display: inline-block;
    font-weight: bold;
}



.container .content .right .icon{
        position: absolute;
        right: 70px;
        top: 600px;
}
.container .content .right .icon i{
    padding-left: 20px;
    font-size: 30px;
    color: rgba(64, 114, 223, 0.959); 
}
.container .content .right .icon i{
    list-style: none;
    font-weight: bold;
    padding-top: 10px;
}




/* ----------left--------- */

.container .content .left .code i{
    padding: 20px;
    border-radius: 20px;
    font-size: 30px;
    font-weight: bold;
    background: rgb(201, 202, 202);
    opacity: 0.5;
    float: left;
    margin-left:320px;
    margin-top: 150px;
}

.container .content .left .icon i{
    padding: 20px;
    border-radius: 20px;
    font-size:30px ;
    font-weight: bold;
    background: rgb(201, 202, 202);
    opacity: 0.5;
    color: white;
    margin-right: 600px;
    margin-top: 50px;
    
}
.container .content .left .img{
    width: 340px;
    height: 310px;
    background-color: #fff;
    float: left;
     margin-left: -400px;
     margin-top: 90px;
     border-radius: 50px; 
}

.container .content .left img{
    position: absolute;
    left: 45px;
    top: 260px;
}

.content .button{
    float: right;
    margin-top: 400px;
    margin-right: 50px;
    margin-bottom: 80px
}

.content .button a{
    text-decoration: none;
    margin: 20px;
    padding: 25px 30px;
    font-size: 20px;
    font: bold;
    background: rgb(16, 105, 206);
    color: white;
    border-radius: 30px;
    cursor: pointer;
    transition: 0 .9s;
}

.content .button .btn2{
    background: rgb(15, 23, 27);
    transition: 0 .9s;
}


.content .button .btn2:hover{
    background: rgb(33, 46, 53);
    transition: 0 .9s;
}
.content .button .btn1:hover{
    background:rgb(14, 73, 141); 
    transition: 0 .9s;
}

/* ---------= group-icon =--------- */

.container .group-icon{
    width: 90%;
    justify-content: center;
    margin-right: 5%;
    position: absolute;
    top: 900px;  
}

.container .trapezid-shape{
    position: absolute;
    width: 720px;
    height: calc(100vh + 240px);
    opacity: .2;
    z-index: -1;
    right: 0;
}
.container .trapezid-shape::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(347deg, #f6fafe 0 , #007bec 100%);
    transform-origin: bottom;
    border-radius: 250px 0 0 250px;
    left: 0;
    transform: skew(-15deg);
}

.container .group-icon h2{
    font-size: 30px;
    margin-top: 60px;
    padding: 10px;
}

 .container .group-icon .stn{
    font-size: 20px;
    padding: 10px;
}

.container .group-icon .box1{
    display: flex;
}

.container .group-icon .box2{
    display: flex;
}

.container .group-icon .row{
    width: 250px;
    height: 250px;
    background: #fff;
    border-radius: 70px;
   margin-bottom: -70px;
    margin:  100px  20px -50px;
    transition: transform .7s;
}

.container .group-icon .row:hover{
    transform: translateY(10px);
}

.container .group-icon .col h3{
    font-size: 30px;
    margin: 30px;
    margin-top: -10px;
    margin-left: -15px;
    color: #000;
}

.container .group-icon .col span{
    color: #000;
    font-size: 20px;
}


.container .group-icon .smooth-corners img{
    background: #ed7d15;
    background: linear-gradient(45deg, #ed7d15 0%, #015589 50%);
    color: #fff;
    width: 50px;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    float: left;
    margin: 41px; 
    margin-bottom: 20px;
 }

 .container .group-icon .smooth-corners i{
    padding: 15px;
    font-size: 20px;
    color: #fff;
    
}
.container .group-icon .smooth-corners i img{
    margin-right: -20px;
    border-radius: 15px;
     font-size: 10px;
     width: 40px;
     padding: 5px;
  }

  .container .group-icon .smooth-corners i img{
    margin-right: -20px;
    border-radius: 15px;
     font-size: 10px;
     width: 40px;
     padding: 5px;
  }
  .container .group-icon .smooth-corners-skill {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    float: left;
    text-decoration: none;
    margin-top: 20px;
} 
 .col h1{
    padding-left: 40px;
} 



#web{
margin-left: 30px;
}
#spar{
    padding-right: 50px;
}

.container .group-icon .smooth-corners  .laravel{
    padding: 5px;
    border-radius: 15px;
    width: 40px;
    margin-right: -20px;
}

.container .group-icon .smooth-corners .elephant{
   padding: 5px;
   border-radius: 15px;
   width: 40px;
}
.container .group-icon .smooth-corners i{
   padding: 9px;
   border-radius: 15px;
   width: 40px;
   font-weight: bold;
   font-size: 30px;
   margin-right: -20px;
}
.container .group-icon .smooth-corners .android{
   padding: 5px;
   border-radius: 15px;
   width: 40px;
   margin-right: -20px;

}
.container .group-icon .smooth-corners .wordpress{
   padding: 5px;
   border-radius: 15px;
   width: 40px;
   margin-right: -20px;
}
.container .group-icon .smooth-corners .javascript{
    padding: 5px;
    border-radius: 15px;
    width: 40px;
    margin-right: -20px;
 }


 /* -------------= row mt-4 mt-md-5 =-------------- */
.mt-md-5{
    margin-top: 2100px;
    text-align: center;
}


 .mt-md-5 .col-12  a{
    font-size: 20px;
    line-height: 45px;
    font-weight: 400;
    text-decoration: none;
    background: #015589;
    padding: 20px;
    color: white;
    border-radius: 10px;
}



/* ---------contaener---------- */
.contaener{
    position: relative;
    width: 100%;
    padding-right: var(--bs-gutter-x,15px);
    padding-left: var(--bs-gutter-x,15px);
    margin-right: auto;
    margin-left: auto;
    margin-top: 300px;
}
.land-comments-section{
    text-align: center;
}
.contaener .trapezoid_shape.reverse{
    width: 500px;
    opacity: .5;
    border-radius: 0 50% 0;
    left: -15%;
    height: 100vh;
   background: #6bb7e6;
    float: left;
}
.contaener .trapezoid_shape{
    margin-top: -80px;
}
.trapezoid_shape{
    position: absolute;
}
.trapezid-shape .smooth-corners1{
    width: 60px;
    margin-bottom: 40px;
}


.smooth-corners1 img{
    width: 50px;
    border-radius: 50%;
}

 #img{
    margin-top: 20px;
    margin-bottom: 20px;
}

.contaener strong,h2{
    color: rgb(29, 27, 27);
    font-size: 20px;
}
.contaener small ,span{
    color: rgb(80, 78, 78);
    font-size: 20px;
}

.contaener #line{
    line-height: 25px;
}

.contaener .player-btn-animated{
    margin-top: 40px;
}
.contaener .player-btn-animated{
    background: white;
    padding: 15px;
    border-radius:50%;
    width: 50px;
    margin-right: 595px;
    color: #007bec;
    cursor: pointer;
    margin-bottom: 40px;
}
.contaener .arrows{
    display:flex;
    margin-top: 20px;
    margin-right: 580px;
    align-items: center;
    cursor: pointer;
}
.arrows .fa-chevron-right{
    margin-left: 10px;
    padding: 10px;
    border-radius: 5px;
    background: white;
    color: #007bec;
}
.arrows .fa-chevron-left{
    margin-right: 10px;
    padding: 10px;
    border-radius: 5px;
    background: white;
    color: #007bec;
}


/* -------------- container land-why-7learn srart  ------------- */
.contaener:not(nav.contaener){
    position: relative;
}

.land-why-7learn .photo{
    position: absolute;
    z-index: -1;
    filter: grayscale(100%);
    opacity: .1;
    width: 48%;
    right: 40%;
    margin-top: -25px;
    transform: scaleX(-1);
}
.justify-content-center{
    justify-content: center!important;
}
.land-why-7learn .row{
    display: flex;
    flex-wrap: wrap;
}
.land-why-7learn .player-box img{
    position: absolute;
    margin-top: 230px;
}
.col-lg-7 h2{
    margin-right: 450px;
    margin-top: 0px;
    padding-top: 450px;
    font-size: 35px;
    color: #1b2a33;
}
.col-lg-7 .items{
    margin-top: 40px;
    margin-right: 600px;
}

.col-lg-7 .items span{
    display: block;
    margin-top: 50px;
    font-size: 20px;
    color: #1b2a33;
}
.land-why-7learn .items span{
    display: flex;
}

.land-why-7learn .items img{
    padding: 10px;
    border-radius: 50px;
   margin-top: -5px;
    background: white;
    margin-left: 15px;
}
/* ------container free-learn--------- */
.container.free-learn{
    margin-top: 250px;
    display: flex;
    padding-right: 185px;
    
}
.container.free-learn .row span,h2{
    margin-right: 60px;
    line-height: 50px; 
}


.container.free-learn .cul:hover{
    transform: translateY(10px);
   
}
.free-learn .justify-content-center:hover{
    transform: translateY(10px);
}

.free-learn .justify-content-center{
    width: 250px;
    height: 250px;
    background: white;
    border-radius: 35%;
    margin: 30px;
    text-align: center;
    align-items: center;
    padding-top: 70px;
    margin-top: 90px;
    cursor: pointer;
}

.justify-content-center div .fa-book{
    padding: 15px;
    border-radius: 20px;
    margin-bottom: 20px;
    background-color: #3a8bd6;
    color:white ;
    font-size: 30px;
    
}
.justify-content-center  a{
    text-decoration:none;
    color: #060f14;
}
.justify-content-center  a h3{
    font-size: 25px;
}


.free-learn .cul{
    margin-top: 150px;
    transition: 0 .5s;
    cursor: pointer;
}

.free-learn .cul #div{
    width: 250px;
    border-radius: 35%;
    height: 250px;
    text-align: center;
    margin: 30px;
    background: white;
    padding-top: 70px;

}
.free-learn .cul a h3{
    font-size: 20px;
    margin-top: 25px;
}
.free-learn .cul a{
    text-decoration: none;
    color: #0a1820;
}
.free-learn .cul a #fa{
    padding: 14px;
    font-size: 25px;
    border-radius: 10px;
    background: #3a8bd6;
    color: white;
}


/* ------- fotter ---------- */

footer{
    width: 100%;
    margin-top: 250px;
    padding-left: auto;
    padding-right: auto;
    background-color: rgb(255, 246, 246);
    padding-right: 50px;
}

footer .links{
    float: right;
    width: 100%;
    margin: 0 0 60px 0;

}

footer .links a{
    text-decoration: none;
    font-size: 20px;
    padding-top: 0;
    margin: 0 10px;
    color: rgb(14, 30, 43);
    transition: 0.7s;
}
footer .links a:hover{
    color: #007bec;
}
footer .links a span{
    color: #1b2a33;
}
footer .links a span:hover{
     color: #007bec;
}


footer .bio{
    color: gray;
    line-height: 35px;
}

footer .bio a{
    text-decoration: none;
    color: #007bec;
}


footer .right p{
     margin-bottom: 50px;
     font-size:19px;
     
}
footer .right a{
    text-decoration: none;
    color: #0a1820;
}

footer .right span{
    font-size: 20px;
   font-weight: bold;
    font: bold;
    color: #0a1820;
    margin-left: 15px;
}
footer .right span a:hover{
    color: #007bec;
}
 

footer .right  div a{
  font-size: 35px;
  margin: 20px;
  transition: 0.7s;
}
footer .right  div a:hover{
    color: #007bec;
}


footer .left{
    display: flex;
    margin-top: 70px;
    float: left;
    padding-left: 30px;
    margin-bottom: 50px;
}

footer .left div{
    background-color: rgb(255, 255, 255);
    margin: 10px;
   
}
footer .left div img{
    width: 90px;
    padding: 20px;
    border-radius: 50px;
    background-color: #f3f3f5;
}







/* ------------- page 2  and 3-------------- */
.container2 .trapezoid_shape{
    width: 60%;
    height: 100vh;
    right: -20px;
    background-color: #8cc3f7;
    border-radius: 330px 0 10px 60px;
    opacity: calc(30%);
    margin-top: -30px;
  
}
.container2 .goback{
    text-decoration: none;
   margin-right: 500px;
  
}
.container2{
    padding-top: 20px;
    width: 100%;
    height: 700px;
    align-items: center;
    position: relative;
    
   
}
.row img{
    width: 70px;
}
.row h5{
    margin-bottom: 30px;
    color: gray;
}

.container2 .row{
    align-items: center;
    margin-right: 500px;
    margin-top: 30px;
    position: absolute;
    width: 350px;
    background:white;
    border-radius: 20px;
    text-align: center;
    padding-top: 30px;
}
.row input{
   margin: 5px;
   font-weight: bold;
    padding: 20px;
    border: none;
    outline: none;
    border: 1px solid rgb(238, 233, 233);
    border-radius: 15px;
    text-align: center;
    width: 260px;
    
}
.row button{
    padding: 15px 105px;
    text-align: center;
    margin-top: 10px;
    background-color: #007bec;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}
.row button:hover{
    background-color: #066fd1;
}
.row div{
margin-left: 150px;
margin-bottom: 30px;
}
.row a{
    text-decoration: none;
    color: gray; 
    font-size: 10px;
}
.row a:hover{
    color: #007bec;
}

.container2 .text{
     margin-top: -190px;
    width: 350px;
    margin-right: 480px;
    
  
}

.container2 .text p{
    font-size: 15px;
    color: rgb(29, 29, 29);
    line-height: 30px;
}
.container2 .text p a{
    color: #007bec;
    text-decoration: none;
}
/* ------------- page 2  and 3  finisht-------------- */
/* ---------- page 4 start ----------- */

.container3 {
    background-color: #066fd1;
}
.container3 .heddar{
    width: 100%;
    padding: 100px;
    display: flex;

}
.container3 .heddar ul li{
    display: inline-block;
    color: white;
    margin: 10px;
    cursor: pointer;
    transition: 0.5s;
}
.container3 .heddar ul li:hover{
    color:#bbc9d6 ;
}
.container3 .heddar a{
    background-color: white;
    border: 1px solid rgb(219, 217, 217);
    padding: 15px 30px;
    text-decoration: none;
    color: #007bec;
    border-radius: 15px;
    font-weight: bold;
    margin-right: 600px;
    transition: 0.5s;

}

.container3 .heddar a:hover{
    background: #bbc9d6;
}