*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    -webkit-text-size-adjust: 100%;
    max-width: 100vw;
    position: relative;
    text-decoration: rtl;
    overflow-x: hidden;
    background-image: linear-gradient(to top, rgb(202, 210, 216),rgba(247, 247, 247, 0.5)), url(../img/background.jpeg)  ;
    background-size: cover;
    color: var(--bs-dark);  
}

section{
    justify-content: center;
}
.container{
    width: 87%;
    padding-left: 30px;
}

/* ------nav----------- */

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 8%; 
}
nav .logo{
    width: 120px;
}

nav .header{
    display: flex;
    position: absolute;
    top: 30px;
    left: 70px;
    padding: 5px 10px; 
}

.header .login{
    margin-right: 30px;
    width: 191px;
    font-size: 20px;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 5px;
    border-radius: 20px;
    background: rgb(252, 202, 109); 
}

.header .login .btn1{
    margin-left: 20px;
    text-decoration: none;
    padding-right: 13px;
    color: black;
}
.header .login .btn2{
    text-decoration: none;
    background: orange;
    border-radius: 20px;
    padding:  5px 25px 16px;
    color: black;
}

.header .serch{
    background: #fff;
    align-items: center;
    padding: 13px;
    border-radius: 11px;
    color: gray;
}  

nav .li{
    text-align: center;
    margin-left: 200px;
}
nav ul{
    float: right;
    margin-right: 35px;
    margin-top: 35px;
    display: block;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 40px;
}

nav ul li a{
    text-decoration: none;
    font-weight: bold;
    color: rgb(65, 63, 63);
}
nav .li ul li .dora{
    border: 1px solid;
    padding: 13px;
    border-radius: 16px;
}
nav .li ul li .dora .fa{
    padding-left: 4px;
   }
   nav .li ul li .d .fa{
       padding-right: 4px;
   }
  /* -------nav end---------- */

   .col-lg{
       text-align: center;
        margin-top: 100px;
        line-height: 80px;
        font-weight: bold;
        padding-right: 50px;
   }
   .col-lg h1{
       font-size: 35px;
       color: #007bec;
       font-size: bold;
   }
   .col-lg span{
       color: #007bec;
   }

   .col-lg img{
       margin-top: 60px;
   }



   .search{
       width: 600px;
       background: white;
       border: 1px solid rgb(240, 238, 238);
       margin-right: 25%;
       padding: 30px;
       margin-bottom: 50px;
       border-radius: 10px;
     
   }
   .search input{
      font-weight: bold;
      border: none;
   }

   .search button{
       float: left;
       font-size: 20px;
       border: none;
   }
  






   /* -------content start----------- */

.content{
    margin-bottom: 50px;
    padding: 50px;
    width: 70%;
    border-radius: 10px;
    margin: auto;
    background: rgb(253, 251, 251);
    padding-top: 20px;
    padding-right: 20px;
    margin-right: 180px;
    cursor: pointer;
    height: 330px;
}
  .img:hover{
    transform: rotateY(10px);
}


.content .box{
    margin-top: -250px;
    float: left;
    width: 380px;
}

.box h3{
    color: #020e1a;
    margin: 30px;
}
.box h3:hover{
    color: #135ca0;
}

.box p{
    margin-top: 60px;
    line-height: 30px;
    color:#9fc0df ;
}

.box .item{
    display: inline-block;
    color: #02101f;
    margin-top: 20px;
}
.box .item i{
    color: #007bec;
}

.box .more{
  margin-right: 150px;
}
.box .more:hover{
   color: #007bec;
}

.box .more i{
    border: 1px solid rgb(15, 120, 161);
    padding: 5px;
    border-radius: 50px;
    transition: 0.7s;
}

.box .more i:hover{
    background: #007bec;
    color: white;
}





/* ------- fotter ---------- */

footer{
    width: 100%;
    margin-top: 250px;
    height: 650px;
    padding-left: auto;
    padding-right: auto;
    background-color: rgb(255, 246, 246);
    padding-right: 50px;
}

footer .links{
    float: right;
    width: 100%;
    margin: 0 0 60px 0;

}

footer .links a{
    text-decoration: none;
    font-size: 20px;
    padding-top: 0;
    margin: 0 10px;
    color: rgb(14, 30, 43);
    transition: 0.7s;
}
footer .links a:hover{
    color: #007bec;
}
footer .links a span{
    color: #1b2a33;
}
footer .links a span:hover{
     color: #007bec;
}


footer .bio{
    color: gray;
    line-height: 35px;
}

footer .bio a{
    text-decoration: none;
    color: #007bec;
}


footer .right p{
     margin-bottom: 50px;
     font-size:19px;
     
}
footer .right a{
    text-decoration: none;
    color: #0a1820;
}

footer .right span{
    font-size: 20px;
   font-weight: bold;
    font: bold;
    color: #0a1820;
    margin-left: 15px;
}
footer .right span a:hover{
    color: #007bec;
}
 

footer .right  div a{
  font-size: 35px;
  margin: 20px;
  transition: 0.7s;
}
footer .right  div a:hover{
    color: #007bec;
}


footer .left{
    display: flex;
    margin-top: 70px;
    float: left;
    padding-left: 100px;
    margin-bottom: 50px;
}

footer .left div{
    background-color: rgb(255, 255, 255);
    margin: 10px;
   
}
footer .left div img{
    width: 90px;
    padding: 20px;
    border-radius: 50px;
    background-color: #f3f3f5;
}




