*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    position: relative;
}
.container2 .goback{
    text-decoration: none;
   margin-right: 500px;
}
.container2{
    overflow-y: hidden;
    padding-top: 20px;
    width: 100%;
   position: fixed;
    align-items: center;
    position: relative;
    background-image: url(../img/Download\ free\ vector\ of\ Cerulean\ blue\ curve\ frame\ template\ vector\ by\ Kappy\ about\ frame\ template\ design\ element\ graphics\,\ waves\ graphic\,\ abstract\ wave\,\ blue\ curve\ frame\ template\ design\ element\,\ and\ blue\ sky\ abstract\ 2347853.jpeg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover; 
}
.row img{
    width: 70px;
}
.row h5{
    margin-bottom: 30px;
    color: gray;
}
.container2 .row{
    align-items: center;
   width: 350px;
   text-align: center;
   background: white;
   padding-top: 10px;
   padding-bottom: 5px;
   margin-right: 500px;
   border-radius: 30px;
   margin-top: 20px;
}

.row input{
   margin: 5px;
   font-weight: bold;
    padding: 20px;
    border: none;
    outline: none;
    border: 1px solid rgb(238, 233, 233);
    border-radius: 15px;
    text-align: center;
    width: 260px;
    
}
.row button{
    padding: 15px 105px;
    text-align: center;
    margin-top: 10px;
    background-color: #007bec;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}
.row button:hover{
    background-color: #066fd1;
}
.row div{
margin-left: 150px;
margin-bottom: 30px;
}
.row a{
    text-decoration: none;
    color: gray; 
    font-size: 10px;
}
.row a:hover{
    color: #007bec;
}

.container2 .text{
    width: 350px;
    margin-right: 480px;
}

.container2 .text p{
    font-size: 15px;
    color: rgb(29, 29, 29);
    line-height: 30px;
}
.container2 .text p a{
    text-decoration: none;
    color: #007bec;
}