*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    background-image: url(../img/background.jpeg);
    background-position: center;
    background-size: cover;
}

.container3 {
    background-color: #066fd1;
    height: 120vh;
}
body{

}
.container3 .heddar{
    width: 100%;
    padding: 100px;
    display: flex;

}
.container3 .heddar ul a li{
    display: inline-block;
    color: white;
    margin: 10px;
    cursor: pointer;
    transition: 0.5s;
}
.container3 .heddar ul a li:hover{
    color:#bbc9d6 ;
}
.container3 .heddar .a{
    background-color: white;
    border: 1px solid rgb(219, 217, 217);
    padding: 15px 30px;
    text-decoration: none;
    color: #007bec;
    border-radius: 15px;
    font-weight: bold;
    margin-right: 600px;
    transition: 0.5s;

}

.container3 .heddar .a:hover{
    background: #bbc9d6;
}

.container3 .row{
    width: 100%;
    padding: 0 70px;
    justify-content: space-between;
    margin: 10px;
    display: flex;
    text-align: center;
    line-height: 40px;
}

.container3 .row .box{
    width: 550px;
    padding-top: 20px;
    border-radius: 40px;
    margin: 10px;
    background-color: white;
}


.container3 .row .box h1{
    color: #0671d4;
    margin-bottom: 20px;
}
.container3 .row .box h3{
    color: #0662b8;
}
.container3 .row .box p{
    font-size: 18px;
    color: #007bec;
}
.container3 .row .box h6{
    color: gray;
}

.container3 .row .box  video{
    border: 30px solid rgb(240, 240, 240);
    border-radius: 20px;
    margin-top: 40px;
    box-shadow: 50px;
    box-shadow: 0 0 50px 0 rgba(38, 121, 230, 0.07);
    filter: drop-shadow(0 0 50px rgba(8, 48, 226, 0.07));
    
}
.container3 .row .box  video source{
    box-shadow: 50px 30px 20px 30px;
    color: #032031;
}

/* ------- box2 --------- */
.container3 .row #box2 {
    background-color: #066fd1;
    width: 60%;
    padding-right: 90px;
   margin-left:10px;
   border-radius: 80px;
}
.container3 .row #box2 .photo{
    margin-top: -50px;
    background-color: rgb(80, 159, 233) ;
    border-radius: 50%;
    padding: 40px;
    width: 270px;
    margin-right: 200px;
    margin-left: -50px;
}
.container3 .row #box2 .photo img{
    width: 160px;
    border-radius: 50%;
    margin-top: 20px;
}
.row #box2  .icon{
   display: flex;
   width: 200px;
   margin-right: 300px;
   font-size: 20px;
   margin-top: 50px;
}
.row #box2  .icon span{
    margin-left: 50px;
    color: white;
   
}

.row #box2  .icon img{
    margin-bottom: 20px;
    margin-left: 50px;
    margin-bottom: -20px;
    color: white;
}


/* --------- section ------------ */
section{
    margin-top: 200px;
    padding: 80px;
    background-image: url(../img/background.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

section h1{
    margin-bottom: 50px;
    font-size: 30px;
    color: #04529b;

}
section p{
    line-height: 30px;
    color: rgb(80, 80, 80);
    font-size: 20px;
}
section ul{
    margin-top: 80px;
}
section ul li{
    line-height: 35px;
    color: #066fd1;
    font-size: 20px;
}
section .wach{
    margin-right: 530px;
}
section .wach a{
    text-decoration: none;
    color: #007bec;
}

section .waches{
    margin-top: 100px;
    display: flex;
}
section .waches .big-box{
   background: white;
   width: 83%;
   height: 380px;
   position: relative;
   margin-right: 150px;
   border-radius: 20px;
  
}
section .waches .big-box ul {
   line-height: 40px;
   margin-top: 50px;
   margin-right: 280px;
  
   color: grey;
}
section .waches .era2 h4 i{
    font-size: 80px;
    margin-right: 20px;
    transform: rotate(-20deg);
    color:rgb(167, 8, 8)
}

section .waches .era2{
    background: white;    
    height: 220px;
    width: 300px;
    padding-right: 50px;
    padding-top: 10px;
    line-height: 40px;
    font-size: 30px;
    margin:100px 700px 0 0;
    border-radius: 20px;
    position: absolute;
}

section .waches .era1 h4 i{
    font-size: 80px;
    margin-right: 20px;
    transform: rotate(-20deg);
    color: green;
}
section .waches .era1{
    background: white;    
    height: 220px;
    width: 300px;
    padding-right: 50px;
    border-radius: 20px;
    padding-top: 10px;
    line-height: 40px;
    font-size: 30px;
    margin-top: -40px;
    margin-right: -100px;
    position: absolute;
}

 .col{
   margin-top: 20px;
   border-radius: 20px;
   height: 200px;
   padding-top:70px;
   padding-bottom: 10px;
   width: 80%;
   padding-right: 150px;
   margin-right: 150px;
    background: white;
}

.col ul li{
   color: grey;
}
.col ul{
 margin-top: -5px;
}


/* ------------ssection2 start--------------- */

.section2{
    background: #f2f8fe;
}
.section2 .row{
    background-color: #e9eef4;
    position: relative;
    width: 83%;
    height: 627px;
    padding: 100px;
    margin-right: 200px;
    border-radius: 20px;
    color: #1b77e7;
}
.section2 .row h3 span{
    float: left;
}
.section2 .row-boxs{
    display: flex;
    justify-content: space-between; 
    height: 500px;
}

.section2 .row-boxs .box-right{
    width: 600px;
    height: 300px;
    margin-left: 30px;
    background: white;
    margin-right: -200px;
    margin-top: 100px;
    padding: 50px;
    border-radius: 15px;
}

.box-right .content{
    margin-top: 30px;
    overflow-y: scroll;
    height: 150px;
}


.section2 .row-boxs  .box-left{
     float: left;
     margin-left: -100px;
    width: 600px;
    height: 300px;
    background: white;
    margin-top: 100px;
    padding: 50px;
    border-radius: 20px;
}
    .row-boxs  .box-left .content{
    margin-top: 30px;
    overflow-y: scroll;
    height: 150px;
}


section .accordion{
    margin-top: 100px;

} 

.accordion .accordion-item{
    height: 50px;
    padding-bottom: 5px;
    background: white;
    width: 700px;
    margin-right: 200px;
    margin-top: 15px;
    color: gray;

}
button i{
    color: #007bec;
    border: none;
}
button{
    border: none;
    font-size: 20px;
    margin: 10px;
}
button  span small{
   margin-top: 5px;
   display: inline-block;
}

.accordion-item .info{
    float: left;
}

/* -------- footer start ---------- */
footer{
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    margin: 0;
    padding-left: 20px;
    padding-top: 100px;
}

footer .img-icon img{
     width: 140px;
     margin-right: 200px;
     border-radius: 50px;
     border: 7px solid #fff;
     border-radius: 50%;
     box-shadow: 0 0 60px 0 rgb(0 0 0 / 7%);
     filter: drop-shadow(0 0 60px rgba(0, 0, 0, .07));
}

.img-icon .text-span{
    margin-right: 200px;
    margin-top: 30px;
  margin-bottom: 20px;
}
.text-span h4{
    margin-right: 25px;
    font-size: 20px;
    font-weight: bold;
}
footer .text-p{
    width: 620px;
    float: left;
}
footer .text-p ul{
    margin-top: -1px;
    margin-right: 40px;
    list-style: none;

}
footer .text-p ul li{
    color: grey;
    font-size: 14px;
   
}

footer  .text-p  ul li::before {
    content: "\2022";
    display: inline-block;
    margin-left: 10px;
    color: blue;
    font-weight: bold;
    font-size: 30px;
    width: 1em;
    
}

.text-p .comp-btn{
    text-decoration: none;
    margin-top: -5px;
}

.fa-chevron-left::before{
    content: "\f053";
}
.text-p .a{
    border: 1px solid blue;
    float: left;
    padding: 15px; 
    border-radius: 10px;
    padding-left: 30px;
    background-color: #007bec;
    margin-top: 30px;
    color: white;
}

.text-p .a:hover{
    background-color: #04529b;
}
/* ------------ footer finisht ----------- */
/* ----------quation start ---------- */
.quation{
    background-color: #f2f8fe
    ;
 
}
.quation .acc-item h4{
    display: inline-block;
    font-size: 1.3rem;
    color: grey;

}
.quation .acc-item img{
    width: 30px;
}
.quation .acc-item img:hover{
    cursor: pointer;
  
}
.quation .acc-item h4:hover{
    color: #007bec;
    cursor: pointer;
}
.quation .acc-item{
    padding: 30px;
    

    background: #fff;
    overflow: hidden;
    border-bottom: none;
    margin-bottom: 25px;
    border-radius: 40px;
    box-shadow: 0 0 0.5rem 
}




.submit-box {
    border-radius: 20px;
    padding-top: 20px;
    background-color: white;
    height: 300px;
}
.submit-box .ragister{
    line-height: 30px;
    width: 600px;
    border-right: 3px solid rgb(5, 69, 112);
    padding: 0 30px;
}


.submit-box a{
    float: left;
    text-decoration: none;
    padding: 20px 30px;
    border-radius: 10px;
    background: #007bec;
    color: white;
    font-weight: bold;
}
.submit-box a:hover{
    background-color: #04529b;
}






